$normal_font_weight: 400;
$bold_font_weight: 500;
$thin_font_weight: 100;
$intermediate_font_weight: 300;

$normal_font_size: 1rem;
$small_font_size: 0.8rem;
$large_font_size: 1.2rem;

$Background_color: #0d253f;
$inter_color_light: #3c302e;
$inter_color_dark: #121212;
$light_color: #3ea6ff;